{{#if formOpen}}
  <div class="col-6-md">
    {{question-display question=question updateQuestion="updateQuestion" deleteQuestion="deleteQuestion"}}
  </div>
  <div class="col-6-md">
    <form>
      <div class="form-group">
        <label for="answerTitle">Title the answer</label>
        {{input value=answerTitle placeholder="Universal Truth needs a snappy title" class="form-control"}}
      </div>
      <div class="form-group">
        <label for="author">Who authored this masterful answer?</label>
        {{input value=author placeholder="Probably not you, because there is no self" class="form-control"}}
      </div>
      <div class="form-group">
        <label for="answerBody">The full text of the answer</label>
        {{textarea value=answerBody placeholder="please give a step-by-step explanation of how this paradox moved you past mere thinking and into understanding" class="form-control"}}
      </div>
      <button {{action "addAnswer"}} class="btn">Post your Koan</button>
      <button {{action "hideForm"}} class="btn">Close Form</button>
    </form>

  </div>
{{else}}
  <div class="col-8-md">
    {{question-display question=question updateQuestion="updateQuestion" deleteQuestion="deleteQuestion"}}
  </div>
  <div class="col-4-md">
    <div class="question-button-box">
      <h4>Been Enlightened by this Koan?</h4>
      <h5>Tell us how!</h5>
      <button {{action "showForm"}} class="btn">Spread Wisdom</button>
    </div>
  </div>
{{/if}}
